body {
  font-family: Arial;
  display: flex;
  margin: 0;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: #FFD55A;
}
.grid {
  width: 100%;
  height: 100%;
  background-color: #FFD55A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grid-elem {
  margin: 3px 3px;
  width: 25%;
  height: 25%;
  background-color: #293250;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6DD47E ;
  font-size: 6rem;
}
.grid-elem:hover {
  cursor: pointer;
  transition: background 200ms ease;
}
